.ssh/id_*
.ssh/known_hosts
.ssh/known_*
.bash_history
.bash_history-*
.bash_logout
.bash_profile
.zsh_history
.python_history
.xsession-errors
.xsession-errors.old
.local/share/
.local/ABDownloadManager/
.config/VSCodium/
.config/net.imput.helium/
.config/Electron/
.config/geany/geany_socket*
.abdm/
.npm/
.cmake/
.parallel/
.pki
.gemini
.java
.viminfo
.fehbg
.dmrc
.XCompose
.Xauthority
.wget-hsts
.when/
.cargo/
Desktop/
Downloads/
Documents/
Music/
Picture/
Videos/
Tools/
Projects/
Media/
go/
.vim/
.gnupg/
.cache/
.vscode-oss/
