.ssh/id_*
.ssh/known_hosts
.ssh/known_*
.bash_history
.bash_history-*
.bash_logout
.bash_profile
.zsh_history
.python_history
.xsession-errors
.xsession-errors.old
.pki
.gemini
.java
.viminfo
.fehbg
.dmrc
.XCompose
.Xauthority
.wget-hsts

.abdm/
.npm/
.cmake/
.parallel/
.when/
.cargo/
Desktop/
Downloads/
Documents/
Music/
Picture/
Videos/
Tools/
Projects/
Media/
go/
.vim/
.fonts/
.gnupg/
.cache/
.vscode-oss/
.local/share/
.local/ABDownloadManager/
.config/VSCodium/
.config/net.imput.helium/
.config/Electron/
.config/geany/geany_socket*
.config/geany/session.conf
.config/qimgv/savedState.conf
.config/fresh/plugins/
.config/fresh/themes/

# --- System & State Junk ---
.local/state/
.zcompdump*
.jgmenu-lockfile
.config/dconf/
.config/pulse/
.config/xfce4/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/micro/buffers/history

# --- App Specific Bloat ---
.mozilla/
.config/QtProject.conf
.config/fontconfig/
.config/font-manager/
.config/fontforge/
.config/autostart/
.clispot/
.config/clispot/

# --- Repo Protection ---
.dotfiles/
